html, body { height: 100%; width: 100%; margin: 0; }

body {
	/*height: 100%;*/
	background-color: #4CA5FF;
    /*background-color: #3A3839;*/
    text-align: center;
    padding: 15px;
    height: 100%;
    width: 100%;
    position: absolute;

}

#wrapper, .container {
    font-family: sans-serif;
    /*margin: 0 auto;*/
    /*box-shadow: 0px 0px 6px 0 #3a3839;*/
    min-height: 80%;
    min-width: 250px;
    max-width: 900px;
    max-height: 80%;
    /*border-radius: 2px;*/
                /*background-color: #FF797C;*/
                /*background: #07B299;*/
                /*margin-left: 35px;
                margin-right: 35px;*/
            	/*height: 100%;*/
            	/*width: 100%;*/
                /*max-width: 1000px;*/
                /*background-color: #C2702B;*/
                /*background-color: #CCC8AB;*/
                /*margin: 0 auto;*/
                    /*margin-top: 200px;*/
                    /*border: 10px solid #3A3839;
                    border-bottom: 0;*/
                /*height: 1000px;*/
}

.content {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 6px 0 #3a3839;
    min-height: 80%;
    min-width: 250px;
    max-width: 900px;
    /*margin: 0 auto;*/
    padding: 10px;
    background-color: black;
}

#encryptStyle {
    background-color: lightgreen;
}

#decryptStyle {
    background-color: purple;
}

#inputPassword {
    margin: 0 auto;
    height: 40px;
    max-width: 500px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 1px;
    border: 0 none;
    box-shadow: 2px 2px 6px 0 #3a3839;
}

.btn {
    /*padding: 12px 8px;*/
    padding: 14px 24px;
    border-radius: 1px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 2px 2px 6px 0 #3a3839;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btnBrowse, .btnBrowse:hover {
    background: #FFFB7C;
}
